<template>
  <div id="app">
    <!-- navbar -->
    <div class="bg-sky-800 text-white fixed top-0 right-0 left-0 z-10">
      <nav class="container max-w-3xl mx-auto flex justify-between">
        <h1 class="p-4 font-semibold">Twiter Clone</h1>
        <div class="flex px-4 py-2">
          <div class="text-sm mr-2">
            <p>Rizki Kurniawan</p>
            <p class="font-semibold">@RizkiK</p>
          </div>
          <img
            src="https://image.shutterstock.com/image-vector/businessman-icon-260nw-564112600.jpg"
            alt="avatar"
            class="bg-cover border-solid border-2 rounded-full p-1 w-10 h-10"
          />
        </div>
      </nav>
    </div>

    <!-- body -->
    <div class="container mx-auto mt-20 max-w-3xl">
      <!-- textarea and button -->
      <div class="rounded-lg bg-sky-800 p-4 drop-shadow-lg">
        <form @submit.prevent="addTweet">
          <textarea
            class="w-full rounded border-2 p-2 focus:border-slate-400 focus:outline-none"
            autofocus
            v-model="newTweet"
          ></textarea>
          <div class="mt-2 flex w-full justify-between">
            <p class="font-semibold text-slate-400">{{ tweetCount }}/10</p>
            <!-- button tweet -->
            <div>
              <button
                class="rounded bg-blue-900 px-2 py-1 font-semibold text-white hover:bg-blue-800 disabled:bg-slate-500"
                :disabled="!canTweet"
                type="submit"
              >
                Tweet
              </button>
            </div>
          </div>
        </form>
      </div>

      <!-- show tweets -->
      <div
        v-for="tweet in tweets"
        :key="tweet"
        class="my-5 rounded-lg bg-sky-800 p-4 drop-shadow-lg"
        tweetcomment="[object Object]"
      >
        <!-- users tweets -->
        <div class="flex">
          <img
            src="https://image.shutterstock.com/image-vector/businessman-icon-260nw-564112600.jpg"
            alt="avatar"
            class="bg-cover border-solid border-2 rounded-full p-1 h-16 w-16"
          />
          <div class="ml-2">
            <!-- username -->
            <div class="flex">
              <p>Rizki Kurniawan</p>
              <p class="font-semibold">@RizkiK</p>
            </div>
            <!-- typing -->
            <div class="text-sm">
              {{ tweet }}
            </div>
            <!-- like n retweet -->
            <div class="retweet-like flex">
              <!-- like -->
              <div class="mx-2 flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  width="20"
                  height="20"
                  style="margin-top: 2px"
                >
                  <path fill="none" d="M0 0H24V24H0z"></path>
                  <path
                    d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"
                  ></path>
                </svg>
                <p class="ml-1">2</p>
              </div>
              <!-- retwet -->
              <button v-on:click="retwetUser += 1">
                <div class="mx-2 flex">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="20"
                    height="20"
                    style="margin-top: 2px"
                  >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      d="M8 20v1.932a.5.5 0 0 1-.82.385l-4.12-3.433A.5.5 0 0 1 3.382 18H18a2 2 0 0 0 2-2V8h2v8a4 4 0 0 1-4 4H8zm8-16V2.068a.5.5 0 0 1 .82-.385l4.12 3.433a.5.5 0 0 1-.321.884H6a2 2 0 0 0-2 2v8H2V8a4 4 0 0 1 4-4h10z"
                    ></path>
                  </svg>
                  <p class="ml-1">{{ retwetUser }}</p>
                </div>
              </button>
              <!-- delet -->
              <button v-on:click="delet">
                <div class="mx-2 flex">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="20"
                    height="20"
                    style="margin-top: 2px"
                  >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      d="M7 4V2h10v2h5v2h-2v15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V6H2V4h5zM6 6v14h12V6H6zm3 3h2v8H9V9zm4 0h2v8h-2V9z"
                    ></path>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </div>
        <!-- reply -->
        <div>
          <div
            class="comment mt-5 h-7 w-full cursor-pointer rounded-lg bg-teal-700 py-1 px-3 text-sm font-semibold text-white"
            @click="showTextArea = true"
          >
            Reply
          </div>

          <div v-if="showTextArea" class="rounded-lg bg-slate-200 p-4 drop-shadow-lg">
            <form @submit.prevent="onSubmit">
              <textarea
                class="w-full rounded border-2 p-2 focus:border-slate-400 focus:outline-none"
                autofocus
                v-model="replyText"
              ></textarea>
              <div class="mt-2 flex w-full justify-between">
                <p class="font-semibold text-slate-400">{{ replyText.length }}/10</p>
                <div>
                  <button
                    class="mr-2 rounded bg-red-700 px-2 py-1 font-semibold text-white"
                    @click="showTextArea = false"
                  >
                    cancel
                  </button>
                  <button
                    class="rounded bg-blue-700 px-2 py-1 font-semibold text-white hover:bg-blue-800"
                    :disabled="replyText.length === 0"
                    type="submit"
                  >
                    Tweet
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <!-- post reply -->
        <div class="my-2 rounded-lg bg-cyan-900 px-4 py-3 drop-shadow-lg">
          <div class="flex">
            <img
              src="https://image.shutterstock.com/image-vector/businessman-icon-260nw-564112600.jpg"
              alt="avatar"
              class="bg-cover border-solid border-2 rounded-full p-1 h-12 w-12"
            />
            <div class="ml-2">
              <div class="ml-2">
                <!-- username -->
                <div class="flex">
                  <p>Rizki Kurniawan</p>
                  <p class="font-semibold">@RizkiK</p>
                </div>
                <!-- typing -->
                <div class="text-sm">
                  {{ replyText }}
                </div>
                <!-- like n retweet -->
                <div class="retweet-like flex">
                  <!-- like -->
                  <div class="mx-2 flex">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="20"
                      height="20"
                      style="margin-top: 2px"
                    >
                      <path fill="none" d="M0 0H24V24H0z"></path>
                      <path
                        d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"
                      ></path>
                    </svg>
                    <p class="ml-1">2</p>
                  </div>
                  <!-- retwet -->
                  <div class="mx-2 flex">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="20"
                      height="20"
                      style="margin-top: 2px"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M8 20v1.932a.5.5 0 0 1-.82.385l-4.12-3.433A.5.5 0 0 1 3.382 18H18a2 2 0 0 0 2-2V8h2v8a4 4 0 0 1-4 4H8zm8-16V2.068a.5.5 0 0 1 .82-.385l4.12 3.433a.5.5 0 0 1-.321.884H6a2 2 0 0 0-2 2v8H2V8a4 4 0 0 1 4-4h10z"
                      ></path>
                    </svg>
                    <p class="ml-1">15</p>
                  </div>
                  <!-- delet -->
                  <div class="mx-2 flex">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="20"
                      height="20"
                      style="margin-top: 2px"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M7 4V2h10v2h5v2h-2v15a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V6H2V4h5zM6 6v14h12V6H6zm3 3h2v8H9V9zm4 0h2v8h-2V9z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- post n botton -->
      <div class="my-5 rounded-lg bg-sky-800 p-4 drop-shadow-lg" tweetcomment="[object Object]">
        <!-- users post -->
        <div class="flex">
          <img
            src="https://img.icons8.com/officel/1x/user-female-circle.png"
            alt="avatar"
            class="bg-cover border-solid border-2 rounded-full p-1 h-16 w-16"
          />
          <div class="ml-2">
            <!-- username -->
            <div class="flex">
              <p>Female</p>
              <p class="font-semibold">@female</p>
            </div>
            <!-- typing -->
            <div class="text-sm">
              <p>Before friendly when out name service.</p>
            </div>
            <!-- like n retweet -->
            <div class="retweet-like flex">
              <!-- like -->
              <button v-on:click="likeFemale += 1">
                <div class="mx-2 flex">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="20"
                    height="20"
                    style="margin-top: 2px"
                  >
                    <path fill="none" d="M0 0H24V24H0z"></path>
                    <path
                      d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"
                    ></path>
                  </svg>
                  <p class="ml-1">{{ likeFemale }}</p>
                </div>
              </button>
              <!-- retwet -->
              <button v-on:click="retwetFemale += 1">
                <div class="mx-2 flex">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="20"
                    height="20"
                    style="margin-top: 2px"
                  >
                    <path fill="none" d="M0 0h24v24H0z"></path>
                    <path
                      d="M8 20v1.932a.5.5 0 0 1-.82.385l-4.12-3.433A.5.5 0 0 1 3.382 18H18a2 2 0 0 0 2-2V8h2v8a4 4 0 0 1-4 4H8zm8-16V2.068a.5.5 0 0 1 .82-.385l4.12 3.433a.5.5 0 0 1-.321.884H6a2 2 0 0 0-2 2v8H2V8a4 4 0 0 1 4-4h10z"
                    ></path>
                  </svg>
                  <p class="ml-1">{{ retwetFemale }}</p>
                </div>
              </button>
            </div>
          </div>
        </div>

        <!-- reply button -->
        <div
          class="comment mt-5 h-7 w-full cursor-pointer rounded-lg bg-teal-700 py-1 px-3 text-sm font-semibold text-white"
        >
          Reply
        </div>
        <div class="rounded-lg bg-slate-200 p-4 drop-shadow-lg" style="display: none">
          <form>
            <textarea
              class="w-full rounded border-2 p-2 focus:border-slate-400 focus:outline-none"
              autofocus
            ></textarea>
            <div class="mt-2 flex w-full justify-between">
              <p class="font-semibold text-slate-400">0/10</p>
              <div>
                <button class="mr-2 rounded bg-red-700 px-2 py-1 font-semibold text-white">
                  cancel
                </button>
                <button
                  class="rounded bg-blue-700 px-2 py-1 font-semibold text-white hover:bg-blue-800 disabled:bg-slate-500"
                  disabled
                  type="submit"
                >
                  Tweet
                </button>
              </div>
            </div>
          </form>
        </div>
        <!-- users reply -->
        <div class="my-2 rounded-lg bg-cyan-900 px-4 py-3 drop-shadow-lg">
          <div class="flex">
            <img
              src="https://img.icons8.com/officel/1x/guest-male.png"
              alt="avatar"
              class="bg-cover border-solid border-2 rounded-full p-1 h-12 w-12"
            />
            <div class="ml-2">
              <div class="flex">
                <p>Male</p>
                <p class="font-semibold">@male</p>
              </div>
              <div class="text-sm">
                <p>Where the deer closes due to trying to arrive.</p>
              </div>
              <div class="retweet-like flex">
                <div class="mx-2 flex">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    width="20"
                    height="20"
                    style="margin-top: 2px"
                  >
                    <path fill="none" d="M0 0H24V24H0z"></path>
                    <path
                      d="M12.001 4.529c2.349-2.109 5.979-2.039 8.242.228 2.262 2.268 2.34 5.88.236 8.236l-8.48 8.492-8.478-8.492c-2.104-2.356-2.025-5.974.236-8.236 2.265-2.264 5.888-2.34 8.244-.228zm6.826 1.641c-1.5-1.502-3.92-1.563-5.49-.153l-1.335 1.198-1.336-1.197c-1.575-1.412-3.99-1.35-5.494.154-1.49 1.49-1.565 3.875-.192 5.451L12 18.654l7.02-7.03c1.374-1.577 1.299-3.959-.193-5.454z"
                    ></path>
                  </svg>
                  <p class="ml-1">7</p>
                </div>
                <button v-on:click="retwetMale += 1">
                  <div class="mx-2 flex">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                      width="20"
                      height="20"
                      style="margin-top: 2px"
                    >
                      <path fill="none" d="M0 0h24v24H0z"></path>
                      <path
                        d="M8 20v1.932a.5.5 0 0 1-.82.385l-4.12-3.433A.5.5 0 0 1 3.382 18H18a2 2 0 0 0 2-2V8h2v8a4 4 0 0 1-4 4H8zm8-16V2.068a.5.5 0 0 1 .82-.385l4.12 3.433a.5.5 0 0 1-.321.884H6a2 2 0 0 0-2 2v8H2V8a4 4 0 0 1 4-4h10z"
                      ></path>
                    </svg>
                    <p class="ml-1">{{ retwetMale }}</p>
                  </div>
                </button>
              </div>
            </div>
          </div>
          <div class="rounded-lg bg-slate-200 p-4 drop-shadow-lg" style="display: none">
            <form>
              <textarea
                class="w-full rounded border-2 p-2 focus:border-slate-400 focus:outline-none"
                autofocus
              ></textarea>
              <div class="mt-2 flex w-full justify-between">
                <p class="font-semibold text-slate-400">0/10</p>
                <div>
                  <button class="mr-2 rounded bg-red-700 px-2 py-1 font-semibold text-white">
                    cancel
                  </button>
                  <button
                    class="rounded bg-blue-700 px-2 py-1 font-semibold text-white hover:bg-blue-800 disabled:bg-slate-500"
                    disabled
                    type="submit"
                  >
                    Tweet
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data() {
    return {
      newTweet: '',
      tweets: [],
      showTextArea: false,
      replyText: '',
      retwetFemale: 17,
      retwetMale: 8,
      retwetUser: 0,
      likeFemale: 8
    }
  },
  computed: {
    canTweet() {
      return this.newTweet.trim().length > 0 && this.newTweet.length < 11
    },
    tweetCount() {
      return this.newTweet.length
    }
  },
  methods: {
    addTweet() {
      if (this.canTweet) {
        this.tweets.push(this.newTweet)
        this.newTweet = ''
      }
    },
    onSubmit() {
      this.showTextArea = false
      this.replyText = ''
    },
    delet: function () {
      this.tweets.splice(this.tweets)
    }
  }
}
</script>

<style></style>
